
body {
    max-width: 1000px;
    min-width: 700px;
    width: auto;
    margin: auto;
    padding: 15px;
}

.variables {
    --huck-color: #435681;
    --huck-brown: #816e43;
    --huck-green: #558143;
    --huck-dark: #6e4381;
}

header {
    padding: 15px;
    border-top: solid 5px #558143;
    border-bottom: solid 5px #558143;
}

.top-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #435681;
    margin-top: 1em;
    margin-bottom: 2em;
    color: #ffffff;
}

.top-bar h3 {
    margin-left: 4em;
    margin-right: 4em; 
}

#hucklogo {
    height:200px;
    width: 200px;
    float: right;
}

header h1 {
    font-family: Impact, Charcoal, 'Arial Narrow Bold', sans-serif;
    font-size: 4em;
}

header h2 {
    font-size: 2em;
}

p {
    font-size: 1em;
    font-family: 'Futura', sans-serif;
    width: 80em;
    white-space: pre-line;
}

#Article-Header {
    margin-bottom: 2em;
    font-family: Charcoal, 'Arial Narrow Bold', sans-serif;

}   

#Article-Paragraph h2 {
    font-family: Charcoal, 'Arial Narrow Bold', sans-serif;
}

#big-p {
    font-size: 3em;
    white-space: inline;
}

.euphoria  {
  margin-top: 2em;
  margin-bottom: 2em;
}
