
body {
    max-width: 1000px;
    min-width: 700px;
    width: auto;
}

.variables {
    --huck-color: #435681;
    --huck-brown: #816e43;
    --huck-green: #558143;
    --huck-dark: #6e4381;
}

header {
    padding: 15px;
    border-top: solid 5px #558143;
    border-bottom: solid 5px #558143;
}

#hucklogo {
    height:200px;
    width: 200px;
    float: right;
}

header h1 {
    font-family: Impact, Charcoal, 'Arial Narrow Bold', sans-serif;
    font-size: 4em;
}

header h2 {
    font-size: 2em;
}

p {
    font-size: 1em;
    font-family: 'Futura', sans-serif;
    width: 80em;
    white-space: pre-line;
}

img {
    align-content: center;
}
