.variables {
    --huck-color: #435681;
    --huck-brown: #816e43;
    --huck-green: #558143;
    --huck-dark: #6e4381;
}

header {
    padding: 15px;
    border-top: solid 5px #435681;
    border-bottom: solid 5px #435681;
    background: rgb(200, 200, 200);
}

header h1 {
    font-family: Impact, Charcoal, 'Arial Narrow Bold', sans-serif;
    font-size: 4em;
}
header h2 {
    font-size: 2em;
}

#top-bar {
    font-size: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
}

#bar-begin {
    margin-right: 10px;
}

#bar-end {
    margin-left: 10px;
}


#hucklogo {
    height:200px;
    width: 200px;
    float: right;
}

#categories {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#culture {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 150px;
    border-left: solid 1px #435681;
    border-right: solid 1px #435681;
}

div {
    font-family: 'Helvetica', sans-serif;
}

div.culture {
    margin: 5px;
    padding: 10px;
    border: solid 2px #435681;
}

#financial {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 150px;
    border-left: solid 1px #435681;
    border-right: solid 1px #435681;
}

div.financial {
    margin: 5px;
    padding: 10px;
    border: solid 2px #558143;
}

#sports{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 150px;
    border-left: solid 1px #435681;
    border-right: solid 1px #435681;
}

div.sports {
    margin: 5px;
    padding: 10px;
    border: solid 2px #435681;
}

#music{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 150px;
    border-left: solid 1px #435681;
    border-right: solid 1px #435681;
}

div.music {
    margin: 5px;
    padding: 10px;
    border: solid 2px #558143;
}

h3.cat-headings {
    text-align: center;
    font-size: 1.5em;
    font-family: 'Helvetica Neue', sans-serif;
}