.variables {
    --huck-color: #435681;
    --huck-brown: #816e43;
    --huck-green: #558143;
    --huck-dark: #6e4381;
}

header {
    padding: 15px;
    border-top: solid 5px #435681;
    border-bottom: solid 5px #435681;
}

header h1 {
    font-family: Impact, Charcoal, 'Arial Narrow Bold', sans-serif;
    font-size: 4em;
}
header h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

#categories {
    display: flex;
    flex-direction: column;
}

#culture {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 150px;
}

div.culture {
    margin: 5px;
    padding: 10px;
    border: solid 2px #435681;
}

#financial {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 150px;
}

div.financial {
    margin: 5px;
    padding: 10px;
    border: solid 2px #558143;
}